*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
/*BARRA DE NAVEGAÇÃO*/
header{
	background-color: #139ad8;
	padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    position: relative;
    max-width: 150px;
	filter: invert();
}
header .navegation ul{
    position: relative;
    display: flex;
}
header .navegation  li{
    list-style: none;
}
header .navegation li a{
    display: inline-block;
    color: #fff;
	background: #139ad8;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px;
    margin-left: 60px;
		
}
header .navegation li a:hover{
    transition: 0.5s;
    border-radius: 40%;
}
header .navegation a:hover{
    color: #222;
}
 /*ESTILIZAÇAÕ DA PÁGINA*/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #222
}
 /*FORM*/
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #055f88;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
section h2{
    color: #f5f5f5;
    font-size: 2.5rem;
    margin: 2rem;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5%;
}
form input:focus{
    border-radius: 16px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5%;
}
form textarea:focus{
    border-radius: 16px;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}
form button:focus{
    background: #f5f5f5;
    color: #055f88;
    border-radius: 16px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #055f88;
    flex-direction: column;
}
.text{
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;

}
.paragrafo{
    color: #f5f5f5;
    margin-bottom: 50px;
}
.btn{
    padding: 15px 25px;
    background: #f5f5f5;
    text-decoration: none;
    color: #055f88;
    font-size: 18px;
    transition: all 0.5%;
}
.btn:hover{
    border-radius: 16px;
}
